<!-- Footer -->
<section id="footer">
  <div class="inner">
    <h2 class="major">Contattaci</h2>
    <p>Scrivici un messaggio o seguici sui nostri canali social.</p>
    <form name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/{{ site.email }}" method="post">
      <div class="field">
        <label for="full-name">Nome</label>
        <input type="text" name="name" id="full-name" />
      </div>
      <div class="field">
        <label for="email-address">Email</label>
        <input type="email" name="_replyto" id="email-address" required="" />
      </div>
      <div class="field">
        <label for="message">Messaggio</label>
        <textarea name="message" id="message" rows="4" required=""></textarea>
      </div>
      <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
      <ul class="actions">
        <li><input type="submit" value="Invia" /></li>
      </ul>
    </form>
    <ul class="contact">
      <li class="fa-home">
        Untitled Inc<br />
        1234 Somewhere Road Suite #2894<br />
        Nashville, TN 00000-0000
      </li>
      <!--<li class="fa-phone">(000) 000-0000</li>-->
      <li class="fa-envelope"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li class="fa-twitter"><a href="{{ site.twitter }}">{{ site.twitter }}</a></li>
      <li class="fa-linkedin"><a href="{{ site.linkedin }}">{{ site.linkedin }}</a></li>
      <li class="fa-facebook"><a href="{{ site.facebook }}">{{ site.facebook }}</a></li>
      <li class="fa-instagram"><a href="{{ site.instagram }}">{{ site.instagram }}</a></li>
      <li class="fa-github"><a href="{{ site.github }}">{{ site.github }}</a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</section>
